html {
  scroll-behavior: smooth;
}

body {
  background-color: #fff;
  font-family: 'Rubik', sans-serif;
  color: #549494;
}

.navbar-brand img {
  max-height: 40px;
}

.navbar-dark .navbar-nav .nav-link {
  color: #707070 !important;
  font-family: Rubik;
  font-weight: 300;
  font-size: 14px;
  text-align: left;
}

.navbar-dark .navbar-nav .nav-link.active {
  color: #707070;
  font-weight: 500;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #d1c1c1 !important;
}

.navbar-dark .navbar-toggler {
  background-color: #555 !important;
}

.navbar-dark .btn-login {
  padding: 5px 30px;
  border-radius: 5px;
  background: #707070;
  text-align: center;
  color: #fff;
  font-size: 14px;
}

@media (max-width: 991px) {
  header {
    background-image: url("../images/bgdua.png") !important;
    margin-top: 0 !important;
    text-align: center;
    height: 570px !important;
    padding: 120px 0 100px 0 !important;
  }
  h1 {
    margin-bottom: 20px;
  }
}

header {
  margin-top: -70px;
  background-image: url("../images/bg_head.png");
  padding: 180px 0 100px;
  height: 650px;
  background-size: cover;
}

header h1,
header p {
  color: #549494;
}

header p {
  font-family: Rubik;
  font-weight: 300;
  font-size: 18px;
  line-height: 33px;
  color: #549494;
}

header h1 {
  font-family: "Zilla Slab";
  font-weight: bold;
  font-size: 50px;
  color: #549494;
}

header .btn-get-started {
  border-radius: 5px;
  background: #eff5ff;
  padding: 8px 35px;
  color: #7A7878;
  font-size: 14px;
}

header .btn-get-started:hover {
  background-color: #a4a5a7;
  color: #fff;
}

header .main {
  background-color: #a4a5a7;
  color: #fff;
}

header .main:hover {
  background: #eff5ff;
  color: #7A7878;
}

#about {
  margin-top: 20px;
  background-image: url("../images/bg_about.png");
  background-size: cover;
  padding: 130px 0 130px 0;
}

#about h1 {
  font-family: "Zilla Slab";
  font-weight: bold;
  font-size: 40px;
  color: #549494;
  margin-bottom: 20px;
}

#about p {
  font-family: "Rubik";
  font-weight: 300;
  font-size: 16px;
  line-height: 33px;
  color: #549494;
}

.bg-best-seller {
  margin-top: 80px;
  background-image: url("../images/bgey.png");
  height: 320px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#best-seller {
  margin-top: -250px;
  margin-bottom: 40px;
}

#best-seller h1 {
  font-family: "Zilla Slab";
  font-weight: bold;
  font-size: 40px;
  text-align: left;
  color: #549494;
  margin-bottom: 50px;
}

#best-seller .btn-all-menu {
  padding: 10px 15px;
  border-radius: 5px;
  background: #707070;
  color: #FFF6F6 !important;
}

#best-seller .btn-all-menu:hover {
  background-color: #a4a5a7;
  color: #fff;
}

#testimoni {
  padding: 50px 0;
}

#testimoni h1 {
  font-family: "Zilla Slab";
  font-weight: bold;
  font-size: 40px;
  text-align: center;
  color: #549494;
  margin-bottom: 70px;
}

.header-page {
  padding: 50px 0 80px 0;
  background-color: #F2E4E4;
}

.header-page .breadcrumb {
  font-size: 14px;
  background-color: #F2E4E4;
}

.header-page h1 {
  font-family: "Zilla Slab";
  font-weight: bold;
  font-size: 35px;
  text-align: left;
  color: #707070;
}

.list-menu {
  margin-top: -50px;
}

.btn-kategori-active {
  border-radius: 5px;
  background: #eff5ff;
  padding: 8px 25px;
  color: #7A7878;
  font-size: 12px;
  font-weight: 500;
}

.btn-kategori-active:hover {
  background-color: #a4a5a7;
  color: #fff;
}

.btn-kategori {
  border-radius: 5px;
  border: 1px solid #eff5ff;
  padding: 8px 25px;
  color: #7A7878;
  font-size: 12px;
}

.btn-kategori:hover {
  background-color: #a4a5a7;
  color: #fff;
}

.isi-menu {
  margin: 30px 0;
}

.card {
  border-radius: 2px;
  background: #fff;
  border: 1px solid #eee;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.menu-title {
  font-family: Rubik;
  font-weight: 500;
  font-size: 16px;
  text-align: left;
  color: #549494;
  text-decoration: none !important;
}

.menu-harga {
  font-family: Rubik;
  font-weight: 300;
  font-size: 14px;
  text-align: left;
  color: #549494;
}

::-webkit-input-placeholder {
  font-size: 12px;
}

:-ms-input-placeholder {
  font-size: 12px;
}

::-ms-input-placeholder {
  font-size: 12px;
}

::placeholder {
  font-size: 12px;
}

input {
  font-size: 12px !important;
}

.login-form {
  margin: 50px 0;
}

label {
  font-size: 13px;
}

table {
  font-size: 14px;
}

table th {
  color: #549494 !important;
}

.dataTables_info {
  font-size: 12px !important;
}

.paginate_button {
  font-size: 12px !important;
}

.text-small {
  font-size: 12px !important;
}

.bg-cus-dark {
  background-color: #707070;
}

.card-header-menu {
  height: 160px;
  position: relative;
  overflow: hidden;
}

.card-header-menu .gambar-menu {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  z-index: -1;
}

@media (max-width: 575px) {
  .card-header-menu {
    height: auto !important;
  }
}

@media (max-width: 767px) {
  .stars {
    text-align: center !important;
  }
  .testimoni-desk {
    text-align: center !important;
  }
  #about {
    background-image: none !important;
  }
  #about h1 {
    text-align: center !important;
    margin-bottom: 40px;
  }
  #about p {
    text-align: center !important;
    margin-bottom: 20px;
  }
  .its-hr {
    border-style: dotted none none none;
    border-color: #eaf6f6;
    border-width: 7px;
    width: 10%;
    margin: 0 auto;
  }
}

@media (max-width: 991px) {
  .section-about img {
    display: none !important;
  }
}

.section-contact {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 130px 0 130px 0;
  background-image: url("../images/bg-con.png");
  padding: 130px 0 130px 0;
}

.section-contact h1 {
  font-family: "Zilla Slab";
  font-weight: bold;
  font-size: 40px;
  color: #549494;
  margin-bottom: 30px;
}

.section-contact p {
  font-family: "Rubik";
  font-weight: 300;
  font-size: 16px;
  line-height: 33px;
  color: #549494;
}

.section-contact .c-form {
  -webkit-box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.1);
          box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 10px;
}

.section-contact input {
  border: 1px solid #f8ebeb;
}

.section-contact textarea {
  border: 1px solid #f8ebeb;
}
/*# sourceMappingURL=main.css.map */